# TUPLE
 
 ->Tuple is same as list expect it is immutable
 ->duplicates are allowed 
 >insertion order is preserved
 >indexing and slicing are allowed
 >heterogenous element atre allowed


 perentesis are optional
  ->t=(1,2,3,45,5)
  ->t=1,2,3,45,4
  both are tuple


 Single valued tuple
  t=(10,)
  type(t)-->tuple
  k=(10)
  type(k)---int  
 ## Tuple creation
   t=()creating an empty object
 # By using tuple() function
  l=[10,20,30]
  t=tuple(l)
 # accessing element of tuple
  1. by using index
  2. by using slice operetor 
 # important  fun() method()
  ->len()=length of tuple
  ->count()=count the no of element an element occured
  ->index()=index of the first occurence
  sorted()-->sort the elements in ascending order
  sorted() function return list
  min() -->give the smallest element
  max()-->give the largest element

 # different b/w sort() and sorted()
  sort()                                                                   sorted()
  -------                                                                -------------
  -liat specific method                                          general purpose inbuilt function
  -applicable for only list                                       appplicable only for any sequenc
  -wont create any new list and in                               a new list object will be created always
  exsisting list sorted will happen

   Note : append(), insert(),extend(),remove(),pop(),clear(),reverse() is not applicable for tuple because it is immutable

# Tuple packing and unpacking
  packing:
  -->when multiple values are assign to a veriable
  -->python autometiclly covert it into tuple
   Ex: x=1,2,3
  unpacking:
   in the time of unpacking
   t=a,b,c,d 
   a,b,c,d=t corect
   a,b,c=t gives error

In [ ]:
#why tuple is batter then list
import sys
l=[100,200,300,400,500,600,700]
t=(100,200,300,400,500,600,700)
print(sys.getsizeof(l))
print(sys.getsizeof(t))

120
96

In [3]:
l=[10,20,30]
t=tuple(l)
print(type(t))
print(id(l))
print(id(t))

<class 'tuple'>
2774850796224
2774850907264

In [6]:
# mathematical operetion
t1=(10,20,30)
t2=(40,50,60)
t3=t1+t2
print(t3)
print(id(t1))
print((t1*3))
print(id(t1*3))

(10, 20, 30, 40, 50, 60)
2774849656192
(10, 20, 30, 10, 20, 30, 10, 20, 30)
2774849731184

In [9]:
t=(0,20,5,10,15)
print(sorted(t))
l=tuple(sorted(t))
print(l)
l1=tuple(sorted(t,reverse=True))
print(l1)

[0, 5, 10, 15, 20]
(0, 5, 10, 15, 20)
(20, 15, 10, 5, 0)

In [ ]:
t=("aa","AA","Aa")
print(max(t))
print(min(t))

In [ ]:
#packing
a=1
b=2
c=3
d=4
t=a,b,c,d
#iunpacking
e,f,g,h=t

In [12]:
t=(1,2,3,[1,2,3])
t[-1].insert(1,36)
print(t)

(1, 2, 3, [1, 36, 2, 3])

In [14]:
t=(1,2,3,[1,2,3])
t[-1].append(36)
print(t)

(1, 2, 3, [1, 2, 3, 36])

In [15]:
t=(10,20,30,40,50,60)
a,b,*c=t
print(a,b,c)

10 20 [30, 40, 50, 60]

In [1]:
t=(10,20,30,40,50,60)
a=t
print(a)

(10, 20, 30, 40, 50, 60)

In [17]:
t=(10,20,30,40,50,60)
*a,=t
print(a)

[10, 20, 30, 40, 50, 60]

In [18]:
#for merging the list
l1=[1,2,3]
l2=[3,4,5]
l3=[*l1,*l2]
print(l3)

[1, 2, 3, 3, 4, 5]

In [1]:
a=input("enter the value")
print(a)

t